.indexBoxes{
    position: relative;
    text-align: center;
    color: black;
}


.PageSelectionFirst{
    position: absolute;
    left: 45%;
    top: 10%;
    height: 100%;
    width: 100%;
  }
  
.PageSelectionSecond{
    position: absolute;
    left: 45%;
    top: 45%;
    height: 100%;
    width: 100%;
  }

.PageSelectionThird{
    position: absolute;
    left: 45%;
    top: 80%;
    height: 100%;
    width: 100%;
  }
  
.indexColumn {
    float: left;
    width: 100px;
    padding: 5px;
  }
